<h1>Aliments</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @aliments.each do |aliment| %>
      <tr>
        <td><%= aliment.id %></td>
        <td><%= link_to aliment.name, aliment_path(aliment) %></td>
        <td><%= aliment.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_aliment_path(aliment), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', aliment_path(aliment), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_aliment_path, :class => 'btn btn-primary' %>
