

<script type="text/javascript" charset="utf-8">
  $(function () {
  new Highcharts.Chart({
    chart: { renderTo: 'pesees_chart' },
    title: { text: 'Evolution du poids' },
    xAxis: { categories: <%= raw @user.pesees.map { |p| p.date.to_s } %>  },
    yAxis: {
      title: { text: 'kg'}
    },
    series: [{
	      name: "poids",
		  data: <%= @user.pesees.map { |p| p.poids.to_f } %>
		 }]
	     
  });
});
</script>

<script type="text/javascript" charset="utf-8">
  $(function () {
  new Highcharts.Chart({
    chart: { renderTo: 'activites_chart',type: 'column' },
    title: { text: 'Suivi des activités' },
    xAxis: { categories: <%= raw @user.activites.map { |p| p.date.to_s } %>  },
    yAxis: {
      title: { text: 'calories'}
    },
    series: [{
	      name: "activites",
		  data: <%= @user.activites.map { |p| p.calories } %>
		 }]
	     
  });
});
</script>






 <div class="row"><br>
		<div class="span4">
			<div class="mini-profile">
			 <div class="row"><br>
					<div class="span2 avatar size32"><%= gravatar_for @user %></div>
					<div class="span2">
					 <span class="fullname"><%= @user.email%><br></span>
				
					<a href="<%= following_user_path(@user) %>">
				    <strong id="following" class="stat">
				      <%= @user.followed_users.count %>
				    </strong>
				    <span class="small">following</span>
				  	</a>
					<a href="<%= followers_user_path(@user) %>">
					    <strong id="followers" class="stat">
					      <%= @user.followers.count %>
					    </strong>
					    <span class="small">followers</span>
					</a>
					<br>
					<%= link_to("Modifier",edit_user_path(@user)) %>
				</div>
				</div>
			</div>
		</div>
		<div class="span2"><br></div>
		<div class="span6">
			
			<%= render 'follow_form' if signed_in? %>
			<%if current_user?(@user)%>
				<%= button_to("Liste des pesées",pesees_user_path(@user),:class => "btn btn-large btn-primary") %>
			<%end%>
			<div id="pesees_chart" style="width: 500px; height: 300px;">
					
			</div>
			
				<%if current_user?(@user)%>
					<%= button_to("Liste des activités",activites_user_path(@user),:class => "btn btn-large btn-primary") %>
				<%end%>
			
			<div id="activites_chart" style="width: 500px; height: 300px;">
				
			</div>

		  
		</div>
	</div>
</div>



 
	
