<%= form_for @activite, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Activite</legend>

    <div class="control-group">
      <%= f.label :genre, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :genre, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :duree, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :duree, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :calories, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :calories, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :date, :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :date, :class => 'date_select' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', activites_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
